<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 载入静态资源文件 -->
    <mvc:annotation-driven/>
    <mvc:resources mapping="/static/**" location="/static/"/>

    <!-- 主控制器 -->
    <bean name="index" class="com.controller.IndexController"></bean>
    <!-- 管理员控制器 -->
    <bean name="admin" class="com.controller.AdminController"></bean>
    <!-- 用户控制器 -->
    <bean name="user" class="com.controller.UserController"></bean>
    <!-- 商品控制器 -->
    <bean name="goods" class="com.controller.ShopController"></bean>
    <!-- 订单控制器 -->
    <bean name="order" class="com.controller.OrderController"></bean>
    <!-- 店铺控制器 -->
    <bean name="store" class="com.controller.StoreController"></bean>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>